

body {
	font-family: helvetica, arial;
}

.drinkname {
	font-size: 30px;
	font-family: helvetica, arial;
}

.column {
	width: 300px;
	margin: 0px auto;
}



#container {
	width: 900px;
	background-color: orange;
margin: 0px auto;
}

table {
	background-color: orange;
	width: 200px;
	height: 200px;
	border-spacing: 0px;
	float: left;
	
	table-layout: fixed
}

tr {

}

td {
word-wrap: break-word;
}
td.inner {
	padding-left: 10px;
}

tr:hover > td.hide {
	display: none;
}

tr:hover > td.show {
	display: table-cell ;
}
tr > td.show {
	display: none ;
}

img {
	width: 199px;
	height: 190px;
}

.product:hover {
	display: none;

}

.text-center {
	text-align: center;
}
