

body {
	font-family: Raleway, arial;
}

.drinkname {
	font-size: 30px;
	font-family: helvetica, arial;
}

.column {
	width: 300px;
	margin: 0px auto;
}



#container {
	width: 1000px;
	background-color: #A0D8A0;
	margin: 0px auto;
}

table.list {
	border: none;
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	table-layout: fixed;

}


tr {
	border: none;
}

td {
	border: none;
	word-wrap: break-word;
}
td.inner {
	padding-left: 10px;
	padding-right: 10px;
}

tr:hover > td.hide {
	display: none;
}

tr:hover > td.show {
	background-color: #A0D8A0;
	display: table-cell ;
}
tr > td.show {
	display: none ;
}

img.s-image {
	width: 199px;
	height: 190px;
	background-image: url("http://img.photobucket.com/albums/v289/niemoller/Dr%20Sodas/Generic-Beer-Cans-Self-Opening-10-1.jpg");
	background-size: 200px 200px;
	border: 0px;
}
.text-center {
	text-align: center;
}

img.l-image {
	width: 720px;
	height: 720px;
	background-image: url("http://img.photobucket.com/albums/v289/niemoller/Dr%20Sodas/Generic-Beer-Cans-Self-Opening-10-1.jpg");
	background-size: 720px 720px;
	border: 0px;
}

